div{
	width: 100px;
	height: 20px;
	float: left;
}

#div1{
	background-color:#33cc99;
}

#div2{
	background-color:#4ba6f5;
}

#div3{
	background-color:#fdca30;
}

#div4{
	background-color:#f79400;
}

#div5{
	background-color:#f34235;
}

#div6{
	background-color:#e66000;
}

#div7{
	background-color:#ff9500;
}

#div8{
	background-color:#ffcb00;
}

#div9{
	background-color:#e66000;
}

#div10{
	background-color:#00539f;
}

#div11{
	background-color:#0095dd;
}

#div12{
	background-color:#331e54;
}

#div13{
	background-color:#002147;
}

