*{
	margin: 0;
	padding: 0;
}

/***************header *******************/
header{
	width: 960px;
	height: 100px;
	background-color: black;
	font-size: 3em;
	text-align: left;
	color: tomato;
	padding-top: 20px;
	padding-left: 40px;
	text-transform: uppercase; 
}

/*********************body **************/
body{
	width: 960px;
	margin: auto;
}

h1{
	text-align: center;
	padding-top: 10px;
	color: tomato;
}

#nav{
	width: 960px;
	height: 30px;
	background-color: #FF3366;
	text-align: center;
	padding-top: 15px;
}

main{
	width: 960px;
	height: 600px;
	background-color: #999999;
}

#aside,  #section{
	height: 600px;
}


#section{
	width: 560px;
	background-color: #ccc;
	float: left;
}

article{
	padding: 10px;
}

#nav2{
	width: 160px;
	height: 560px;
	background-color: #FF999a;
	float: left;	
	padding-top: 40px;	
	padding-left: 40px;
}


#aside{
	width: 180px;
	background-color: orange;
	float: left;		
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.9em;
}

h2{
	padding-top: 10px;
	padding-bottom: 10px;	
	color: tomato;
	font-size: 1.5em;
}

h3{
	padding-top: 10px;
	padding-bottom: 10px;	

}

/*********** footer ***************/

#footer{
	width: 940px;
	height: 20px;
	background-color: #7A7A7A;	
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}