*{
    margin:0px;
    padding:0px;
}
body{
    width:960px;
    margin: auto;
}

#header{
    height: 130px;
    background-color: aquamarine;
}

#nav{
    height: 60px;
    background-color: antiquewhite;
}

main{
    height: 450px;
    background-color: coral;
    position: relative;
}

#div1{
    width: 700px;   
    height: 350px; 
    background-color: orange;
    position: relative;
    top: 50px;
    left: 20px;
}


#div2{
    width: 200px; 
    height: 350px;   
    background-color: #33cc99;
    position: relative;
    top: -300px;
    left: 750px;
}



/*********** footer ****************************/

#footer{
    height: 90px;
    background-color: aquamarine;
}